<h2>Organisation Name :- <%= @organisation.name %> </h2>
<p>Hourly Rate :- <%= @organisation.hourly_rate %></p>

<p><%= link_to "Edit", edit_organisation_path(@organisation) %></p>
<p><%= link_to "Back to Dashboard", root_path %></p>